.nav{ 
    height: 100px; 
    width: 100%;
}
.navigatin{
     width: 50%; 
     height: 100px;
     float: left; 
     text-align: center;
    }
.nav2{
    text-decoration: none;
    margin: 5px;
    background-color: rgb(228, 118, 127);
    border-radius: 3px;
    padding: 2px;
    color: black;
}
#nav-buttom{
    padding-top: 5px;
}
section{
    height: 600px;
}
.top1{ 
    width: 40%;
    padding-left: 10%;
    height: 500px;
    float: left;
}
.top1 img{
    width: 80%;
    height: 80%;
    padding-top: 20px;
}
.button{
    text-decoration: none;
    background-color:black ;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
#top1{
    padding-top: 100px;
    background-image: url(bg/bg-2.png);
    background-repeat: no-repeat;
    background-position: left;
}
#top2{
    background-image: url(bg/bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.title{
   

    width: 100%;
    background-color: aqua;

}
.phone{
    width: 25%;
    height: 30px;
    float: left;
    background-color: rgb(255, 0, 119);
}
.phone{
    width: 90%;

}
.wp{ 
    width: 30%; 
    min-height: 80%;
    margin: 1.5%; 
    float: left;
    box-shadow: 3px 3px 5px grey;
    border-radius: 5px;
}
.wp img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    }
    .latest{
        margin: 20px
    }
span{ 
        text-align: center;
    }
button{
    padding: 10px 20px;
    background-color:black;
    color: white;
    
    border-radius: 10px;
}
.last{
    width: 40%;
    margin: 5%;
    float: left;
}
.ll{
    width: 40%;
    margin: 5%;
    float: left;
}
.last img{
    width: 100%;
}
.box{
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;
}
#p1{
    margin-top: 30%;
}
footer{
    text-align: center;
}
.t{
    
 height: 1000px;
}

